<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowdesk</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/auth.js" defer></script>
</head>
<body class="auth-page">
    <div id="login">
        <form action="">
            <h2>Login</h2>
            <input id="login-username"  type="text" placeholder="Username"> <br>
            <input id="login-password"  type="password" placeholder="Password"> <br>
            <button id="login-button">Login</button> <br>
            <a href="#" id="show-register">Don't have an account yet?</a>
        </form>
    </div>
    <div id="register" class="hidden">
        <form action="">
            <h2>Register</h2>
            <input id="register-username" type="text" placeholder="Set Username"> <br>
            <input id="register-password" type="password" placeholder="Set Password"> <br>
            <button id="register-button">Register</button> <br>
            <a href="#" id="show-login">Already have an account?</a>
        </form>
    </div>

</body>
</html>